.overview__more {
  width: 150px;
  margin: 50px auto;
  border-radius: 10px;
  border: none;
  display: block;
  font-size: 16px;
  color: grey;
  font-style: italic;
  background: #eeeeee;
  padding: 5px;
  cursor: pointer;
}

.overview__title{
  margin: 5px 0;
}

.launches__card {
  width: 100%;
  height: fit-content;
  border-radius: 15px;
  background-color: #fdfefe;
  box-shadow: -10px 10px 15px #c5c5c5;
  margin: 15px 0;
  padding: 10px;
  @media (min-width: 426px) {
    width: 28%;
    min-width: 180px;
  }
}

.launches {
  font-size: 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2%;
}

.launches__name {
  font-weight: 700;
  margin-left: 5px;
}

section {
  padding: 20px 5%;
  @media (min-width: 769px) {
    padding: 20px 10%;
  }
}

.launches__stats {
  font-size: 12px;
  color: gray;
  margin-bottom: 5px;
  margin-left: 5px;
}

.c-launches__status {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  font-size: 11px;
  font-weight: 700;
}

.launches__status {
  border-radius: 15px;
  font-size: 12px;
  width: fit-content;
  padding: 5px;
  margin: 5px;
  border: 1px solid #dcdcdc;
}

.launches__status--successful {
  background-color: #def8eb;
}

.launches__status--unsuccessful {
  background-color: #fee5e4;

}

.launches__status--flight {
  background-color: white;
  font-weight: 700;
}

.launches__status--reflight {
  background-color: white;
}

.launches__status--upcoming {
  background-color: #e7dbfc;
}


.search {
  background-color: white;
  border: 1px solid whitesmoke;
  border-radius: 20px;
  padding: 5px 15px;
  box-shadow: -10px 10px 15px #c5c5c5;
  margin-bottom: 5px;
  // tablet
  @media (min-width: 426px) {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
  }

}

.search p{
  margin: 10px 0;
}

#s-name, #s-year, #s-status, #s-sort, #s-fav {
  border-width: 1px;
  background-color: #fbfbfb;
  padding: 10px 5px;
  border-radius: 10px;
  color: black;
  margin: 10px 5px 0 5px;
  width: 95%;
  @media (min-width: 426px) {
    width: fit-content;
  }
  @media (min-width: 769px) {
    width: fit-content;
    max-width: 4rem;
  }
}

#s-status, #s-sort, #s-fav {
  width: 100%;
  @media (min-width: 426px) {
    width: fit-content;
  }
  @media (min-width: 769px) {
    width: fit-content;
    max-width: 7rem;
    height: 40px;
  }
}

#s-name::placeholder, #s-year::placeholder, #s-fav, #s-status, #s-sort{
  font-size: 12px;
}

.search label {
  font-size: 14px;
}

.entry__img {
  display: none;

  @media (min-width: 769px) {
    display: block;
    margin: 40px 0 0 20px;
    width: 400px;
    height: 400px;
    background: linear-gradient(135deg,rgba(251, 250, 255, 1) 23%, rgba(230, 251, 255, 1) 64%);
    border-radius: 20px;
    box-shadow: -5px 8px 20px #888888;
  }
}

.entry__content {
  max-width: 100%;
  @media (min-width: 769px) {
    max-width: 45%;
    margin-top: 70px;
  }
}
.entry__title{
  font-size: 24px;
}

.entry {
  @media (min-width: 426px) {
    padding-bottom: 0;
  }
  @media (min-width: 769px) {
    display: flex;
    justify-content: space-between;
  }
}

.launches__favorite {
  width: auto;
  display: flex;
  align-items: center
}

.launches__favorite img {
  margin: 5px;
}

.launches__details {
  background: linear-gradient(135deg,rgba(26, 153, 227, 1) 23%, rgba(114, 62, 228, 1) 86%);
  border: none;
  border-radius: 18px;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  font-weight: 700;
}

.launches__detailsFavorite{
  display: flex;
  justify-content: space-between;
}

