<section class="entry">
  <div class="entry__content">
    <h1 class="entry__title">Find, Filter and save SpaceX Launches</h1>
    <p class="entry__text">Discover past and upcoming SpaceX launches in detail. Browse through mission overviews, learn
      about payloads and
      rockets, and follow external links for deeper insights. Use the search to quickly find launches.</p>
  </div>
  <img class="entry__img" src="./rocket.jpg" height="200">
</section>
<section class="overview">
  <h2>Launches</h2>
  <div class="search">
    <p>
      <label for="s-name">Suche</label> <br>
      <input id="s-name" type="text" [(ngModel)]="searchTerm" (ngModelChange)="onFilterChange()"
             placeholder="z.B. Starlink"/>
    </p>
    <p>
      <label for="s-year">Jahr</label> <br>
      <input id="s-year" type="number" [(ngModel)]="searchYear" (ngModelChange)="onFilterChange()"
             placeholder="z.B. 1997"/>
    </p>
    <p>
      <label for="s-status">Status</label> <br>
      <select id="s-status" [(ngModel)]="searchStatus" (ngModelChange)="onFilterChange()">
        <option value="all" selected>Alle</option>
        <option value="success">Success</option>
        <option value="failure">Failure</option>
        <option value="upcoming">Upcoming</option>
      </select>
    </p>
    <p>
      <label for="s-sort">Sortierung Datum</label> <br>
      <select id="s-sort" [(ngModel)]="searchSort" (change)="onSortChange()" (ngModelChange)="onFilterChange()">
        <option value="asc">Aufsteigend</option>
        <option value="desc">Absteigend</option>
      </select>
    </p>
    <p>
      <label for="s-fav">Favoriten</label> <br>
      <select id="s-fav" [(ngModel)]="searchFavorite" (ngModelChange)="onFilterChange()">
        <option value="all">Alle</option>
        <option value="favorites">Favoriten</option>
      </select>
    </p>
  </div>
  <div class="launches">
    <div *ngFor="let l of visibleLaunches()" class="launches__card">
      <p class="launches__name">{{ l.name }}</p>
      <p class="launches__stats">{{ l.rocketName || 'lädt...' }} &#8226; {{ l.launchpadName || 'lädt...' }}
        &#8226; {{ l.launchpadLocation || 'lädt...' }} &#8226; {{
          l.date_utc
            ? (l.date_utc | date:'yyyy-MM-dd HH:mm':'UTC') + ' UTC'
            : 'null'
        }} </p>
      <div class="c-launches__status">
        <p *ngIf="l.success === true" class="launches__status launches__status--successful">
          Success
        </p>
        <p *ngIf="l.success === false" class="launches__status launches__status--unsuccessful">
          Failed
        </p>
        <p *ngIf="l.success === null && l.upcoming === true" class="launches__status launches__status--upcoming">
          Upcoming
        </p>
        <p class="launches__status launches__status--flight">#Flight{{ l.flight_number || 'lädt...' }}</p>
      </div>
      <div *ngIf="isFavorite(l); then favorites else nonFavorite"></div>
      <ng-template #favorites>
        <div class="launches__favorite" (click)="toggleFavorites(l)">
          <img src="./star_2.png" height="15">
          <p>Remove favorite</p>
        </div>
      </ng-template>
      <ng-template #nonFavorite>
        <div class="launches__favorite" (click)="toggleFavorites(l)">
          <img src="./star_1.png" height="15">
          <p>Add favorite</p>
        </div>
      </ng-template>
      <button (click)="goToDetailsView(l)" class="launches__details">Details</button>
    </div>
  </div>
  <button (click)="showMoreLaunches()" class="overview__more" id="showMoreBtn">load more ...</button>
</section>
