<section class="details">
  <button class="details__back-btn" (click)="onBackClick()">< Back</button>

  <h2 class="details__title">
    {{ title }}
  </h2>
  <p class="launches__details">
    {{ stats1 }} &#8226;
    {{ stats2 }} &#8226;
    {{ stats3 }} &#8226;
    {{ stats4 }}</p>


  <div class="details__launches">
    <p [ngSwitch]="infoBtn1" class="launches__status">
      <span *ngSwitchCase="'success'" class="launches__status--successful">Success</span>
      <span *ngSwitchCase="'failure'" class="launches__status--unsuccessful">Failure</span>
      <span *ngSwitchCase="'upcoming'" class="launches__status--upcoming">Upcoming</span>
    </p>
    <!--p class="launches__status launches__status--flight">#Flight{{ launch.flight_number || 'lädt...' }}</p>

    <p class="launches__status launches__status--payloads" *ngIf="launch.payloads.length; else noPayloads">
      Payloads: {{ launch.payloads.length || 'lädt...' }}</p>
    <ng-template #noPayloads>
      <p class="launches__status launches__status--payloads" *ngIf="launch.payloads.length == 0">Payloads: 0</p>
    </ng-template>

    <p *ngIf="launch.cores[0].reused === true" class="launches__status launches__status--reflight">
      Reflight
    </p>
    <p *ngIf="launch.cores[0].reused === false" class="launches__status launches__status--reflight">
      Not Reflight
    </p-->
  </div>

  <nav class="tabs">
    <button class="tabs__button"
            (click)="onSetTabClick('overview')"
            [class.active]="activeTab === 'overview'">
      Übersicht
    </button>

    <button class="tabs__button"
            (click)="onSetTabClick('payloads')"
            [class.active]="activeTab === 'payloads'">
      Payloads
    </button>

    <button class="tabs__button"
            (click)="onSetTabClick('links')"
            [class.active]="activeTab === 'links'">
      Links
    </button>
  </nav>

  <div class="tabs__content">
    <ng-container [ngSwitch]="activeTab">
      <div *ngSwitchCase="'overview'">
        <h3>Übersicht</h3>
        <p>{{ description || 'No Description found' }}</p>
      </div>
      <div *ngSwitchCase="'payloads'">
        <h3>Payloads</h3>

      </div>
      <div *ngSwitchCase="'links'">
        <h3>Links</h3>
        <ul class="tabs__links-list">
          <li *ngFor="let link of links">
            <a *ngIf="link" [href]="link" target="_blank">{{ link }}</a>
            <span *ngIf="!link">No link available</span>
          </li>
          <!--li *ngIf="launch.links.webcast; else noWebcast">
            Webcast:
            <a target="_blank" [href]="launch.links.webcast">{{ launch.links.webcast }}</a>
          </li>
          <ng-template #noWebcast>
            <li>Webcast: No webcast for this flight</li>
          </ng-template>

          <li *ngIf="launch.links.article; else noArticle">
            Article:
            <a target="_blank" [href]="launch.links.article">{{ launch.links.article }}</a>
          </li>
          <ng-template #noArticle>
            <li>Article: No article for this flight</li>
          </ng-template>

          <li *ngIf="launch.links.wikipedia; else noWiki">
            Wikipedia:
            <a target="_blank" [href]="launch.links.wikipedia">{{ launch.links.wikipedia }}</a>
          </li>
          <ng-template #noWiki>
            <li>Wikipedia: No Wikipedia entry for this flight</li>
          </ng-template-->
        </ul>
      </div>
    </ng-container>

  </div>
  <div class="rocket__details">
    <button (click)="onRocketDetailsClick()" class="rocket__button">Rocket Details</button>
  </div>

</section>
