section {
  padding: 20px 10%;
}

.launches__details, .details__back-btn  {
  font-size: 12px;
  color: gray;
}
.details__back-btn{
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.details__launches{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50%;
  justify-content: flex-start;
}

.launches__status {
  border-radius: 15px;
  font-size: 12px;
  width: fit-content;
  padding: 5px;
  margin: 5px;
}



.launches__status--successful {
  background-color: #d9ffbe;
}

.launches__status--unsuccessful {
  background-color: #ffa1a1;
}

.launches__status--flight,
.launches__status--payloads,
.launches__status--reflight {
  background-color: white;
  border: 1px solid gray;
}

.launches__status--upcoming {
  background-color: #cca8ff;
}

.tabs__button {
  margin: 20px 10px 5px 0;
  padding: 10px;
  border-radius: 5px;
  background: #e0ebf0;
  border: none;
  font-weight: 700;
  cursor: pointer;
}
.tabs__button.active {
  box-shadow: -3px 3px 5px #c5c5c5;
  background: #a4e7ff;

}
