<section class="details">
  <button class="details__back-btn" (click)="onBackClick()" *ngIf="path=='launch'; else rocketBack">< Back to Overview</button>
  <ng-template #rocketBack>
    <button class="details__back-btn" (click)="onBackClick()">< Back to Launch</button>
  </ng-template>
  <h2 class="details__title">
    {{ title }}
  </h2>
  <p class="launches__details">
    {{ stats1 }} &#8226;
    {{ stats2 }} &#8226;
    {{ stats3 }} &#8226;
    {{ stats4 }}</p>


  <div class="details__launches">
    <p [ngSwitch]="infoBtn1" class="launches__status">
      <span *ngSwitchCase="'success'" class="launches__status--successful">Success</span>
      <span *ngSwitchCase="'failure'" class="launches__status--unsuccessful">Failure</span>
      <span *ngSwitchCase="'upcoming'" class="launches__status--upcoming">Upcoming</span>
    </p>
  </div>

  <nav class="tabs">
    <button class="tabs__button"
            (click)="onSetTabClick('overview')"
            [class.active]="activeTab === 'overview'">
      Übersicht
    </button>

    <button class="tabs__button" *ngIf="path == 'launch'"
            (click)="onSetTabClick('payloads')"
            [class.active]="activeTab === 'payloads'">
      Payloads
    </button>

    <button class="tabs__button"
            (click)="onSetTabClick('links')"
            [class.active]="activeTab === 'links'">
      Links
    </button>
  </nav>
  <div class="details__box">
    <div class="tabs__content">
      <ng-container [ngSwitch]="activeTab">
        <div *ngSwitchCase="'overview'">
          <h3>Übersicht</h3>
          <p>{{ description || 'No Description found' }}</p>
        </div>
        <div *ngSwitchCase="'payloads'">
          <h3>Payloads</h3>

        </div>
        <div *ngSwitchCase="'links'">
          <h3>Links</h3>
          <ul class="tabs__links-list">
            <li *ngFor="let key of getLinkKeys()">
              <a [href]="links[key]" target="_blank">{{ links[key] }}</a>
            </li>
          </ul>
        </div>
      </ng-container>

    </div>
    <div class="rocket__details" *ngIf="path == 'launch'" >
      <h4>Verknüpfte Daten</h4>
      <p>Rocket: {{stats1}}</p>
      <p>Payload: {{payloadName|titlecase}}</p>
      <p>Launchpad: {{stats2}}</p>
      <button (click)="onRocketDetailsClick()" class="rocket__button">Rocket-Details</button>
    </div>
  </div>

</section>
